<div class="{{ classes() }}" [style.width.px]="width()">
  <div class="ds-input-password__stack">
    @if (showTitle()) {
      <span class="ds-input-password__title">{{ title() }}</span>
    }

    <div class="ds-input-password__field">
      <div class="ds-input-password__text-wrap">
        @if (interactive()) {
          <input
            class="ds-input-password__native"
            [type]="nativeType()"
            [value]="nativeValue()"
            [attr.placeholder]="title()"
            (input)="onInput($event)"
            (focus)="onFocus()"
            (blur)="onBlur()"
          />
        } @else {
          <span class="{{ textClass() }}">{{ displayText() }}</span>
          @if (showCursor()) {
            <span class="ds-input-password__cursor" aria-hidden="true">|</span>
          }
        }
      </div>

      <button
        type="button"
        class="ds-input-password__toggle"
        [disabled]="isToggleDisabled()"
        [attr.aria-label]="toggleAriaLabel()"
        (click)="toggleContentMode()"
      >
        @if (actualContentMode() === 'hide') {
          <mbiz-icon name="alinear_hide" size="s" />
        } @else {
          <mbiz-icon name="alinear_visible" size="m" />
        }
      </button>
    </div>
  </div>
</div>
