<div
  class="{{ classes() }}"
  [style.width.px]="width()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  @if (showPrefix()) {
    <span class="ds-input-affix__affix ds-input-affix__affix--prefix">
      @if (resolvedPrefixIcon(); as icon) {
        <span class="{{ iconClass() }}" aria-hidden="true">
          <mbiz-icon [name]="icon" size="s" />
        </span>
      } @else {
        <span class="{{ currencyClass() }}">{{ prefixText() }}</span>
      }
    </span>
  }

  <div class="ds-input-affix__content">
    @if (interactive()) {
      <input
        class="ds-input-affix__native"
        type="text"
        [value]="nativeValue()"
        [attr.placeholder]="placeholder()"
        (input)="onInput($event)"
        (focus)="onFocus()"
        (blur)="onBlur()"
      />
    } @else {
      @if (showTypingValue()) {
        <span class="{{ textClass() }}">{{ staticDisplayText() }}</span>
      } @else if (staticDisplayText()) {
        <span class="{{ textClass() }}">{{ staticDisplayText() }}</span>
      }

      @if (showCursor()) {
        <span class="ds-input-affix__cursor" aria-hidden="true">|</span>
      }
    }
  </div>

  @if (showSuffix()) {
    <span class="ds-input-affix__affix ds-input-affix__affix--suffix">
      @if (resolvedSuffixIcon(); as icon) {
        <span class="{{ iconClass() }}" aria-hidden="true">
          <mbiz-icon [name]="icon" size="s" />
        </span>
      } @else {
        <span class="{{ currencyClass() }}">{{ suffixText() }}</span>
      }
    </span>
  }
</div>
